workflows/O6w5MpW1PZU4cIet.json
{
  "active": true,
  "connections": {
    "WAHA Trigger": {
      "main": [
        [],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "jumlah stok": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-14T08:01:47.469Z",
  "id": "O6w5MpW1PZU4cIet",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "WA trigger",
  "nodes": [
    {
      "parameters": {},
      "type": "@devlikeapro/n8n-nodes-waha.wahaTrigger",
      "typeVersion": 202502,
      "position": [
        -760,
        100
      ],
      "id": "5c1ac8a8-d17c-405a-a2af-c1eb2a63c6e6",
      "name": "WAHA Trigger",
      "webhookId": "80fa601c-5fec-48b2-851e-e639d9e03302"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-05-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        440
      ],
      "id": "48650640-f492-49a0-bae0-01d691433235",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FQ2rMnvoMHhihN3S",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "reply_to": "={{ $json.output }}",
        "text": "={{ $json.output }}",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        360,
        220
      ],
      "id": "c38de49e-1c40-4458-a4f2-4d5453cbd554",
      "name": "Send a text message",
      "credentials": {
        "wahaApi": {
          "id": "DzQlBAgoFHAeU4wG",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('WAHA Trigger').item.json.payload.body }}",
        "options": {
          "systemMessage": "=Anda adalah seorang admin Customer service dari jasa pembuatan Chat bot AI WhatsApp dan telegram juga gmail Automation.\n\nperan anda adalah:\n1. sapa pelanggan dengan ramah dan asik\n2. gunakan bahasa yang sopan dan baik kepada pelanggan\n3. jika customer menanyakan layanan yang kita sedikan maka tampilkan semua layanan yang kita miliki sepeti WhatsApp, Telegram, Gmail.\n4. jika customer menanyakan fitur atau kelebihan apa saja yang mereka dapatkan dari paket 1 atau paket 2 baik itu WhatsApp, Telegram, ataupun Gmail. maka tampilkan semua fitur yang telah di sediakan di sheet.\n5. jika customer menanyakan layanan paket yang tidak tersedia maka ucapkan mohon maaf dan rangkailah kata kata seperti anda seorang Customer service yang professional\n6. jika customer sebelumnya menanyakan perihal salah satu misalnya tentang WhatsApp tolong jangan anda tanya kembali cukup jelaskan tentang topik sebelumnya"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        220
      ],
      "id": "1af5fb18-72ca-44bd-a2da-dded57c2a541",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1WCHk5I8Q4jSq9GSxtUDVtK_fekpOCIdbJIGw3fDgzS0",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WCHk5I8Q4jSq9GSxtUDVtK_fekpOCIdbJIGw3fDgzS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1WCHk5I8Q4jSq9GSxtUDVtK_fekpOCIdbJIGw3fDgzS0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        160,
        440
      ],
      "id": "fcb8151d-300f-48fb-92a2-96e937798e10",
      "name": "jumlah stok",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1eeG8ySgBW2nStks",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n//sesuaikan dengan zona waktu di indonesia (WIB = UTC+7)\nconst hour = now.getUTCHours()+7;\n//karena defaul di n8n adalah UTC\n\n//ubah menjadi 0-24\nlet adjustedHourse = hour;\nif (adjustedHourse >= 24 ) adjustedHourse -= 24;\n\n//contoh toko dibuka mulai pukul 08.00 - 22:00 WIB\nconst isStoreClosed = adjustedHourse < 8 || adjustedHourse >= 22\nreturn[\n  {\n    JSON:{\n       isStoreClosed,\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        140
      ],
      "id": "77f35d27-01a6-4c61-b167-a4356eb62a66",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "Chatting",
        "operation": "Send Text",
        "session": "={{ $('WAHA Trigger').item.json.session }}",
        "chatId": "={{ $('WAHA Trigger').item.json.payload.from }}",
        "reply_to": "={{ $json.output }}",
        "text": "=Maaf ya kakak saat ini toko kami sedang tutup ",
        "requestOptions": {}
      },
      "type": "@devlikeapro/n8n-nodes-waha.WAHA",
      "typeVersion": 202502,
      "position": [
        0,
        0
      ],
      "id": "e34e8bb8-ed0c-4633-80e7-bf540c96d918",
      "name": "Send a text message1",
      "credentials": {
        "wahaApi": {
          "id": "DzQlBAgoFHAeU4wG",
          "name": "WAHA account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "797ca05e-b578-4e7c-9f6f-5091b8eee385",
              "leftValue": "={{ $json.JSON.isStoreClosed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -320,
        140
      ],
      "id": "8d327566-12f1-443a-ad14-9e8a3e93cf15",
      "name": "If"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WAHA Trigger').item.json.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        40,
        440
      ],
      "id": "602ccfe3-6799-412f-8d49-60df174b3d8c",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-17T11:22:09.000Z",
  "versionId": "fa5c4a6c-0a06-4be9-a064-35e262321bd6"
}